# Node
node_modules/
package-lock.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environments
venv/
.venv/
env/
ENV/

# Windows & Mac System files
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Environment variables
.env
.env.local

# IDE & Editor caches
.vscode/
.idea/
*.swp
*.swo